<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130753715500-2ct0d4d12denu1loca0b3vc2o0p29ora.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130753715500-2ct0d4d12denu1loca0b3vc2o0p29ora</string>
	<key>API_KEY</key>
	<string>AIzaSyD4yP98jj_seNxISevVfs96dGqy4tDZqFY</string>
	<key>GCM_SENDER_ID</key>
	<string>130753715500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dj.sany.mypfe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dj-sany</string>
	<key>STORAGE_BUCKET</key>
	<string>dj-sany.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130753715500:ios:2c998c7d782a08b401e089</string>
</dict>
</plist>